<div class="displayTable">
    <div class="displayTableCell">
      <div class="authBlock">
        <h3>Thank You for Registering</h3>
        <div class="formGroup">
          <p class="text-center">We have sent you a confirmation email.</p> 
          <p class="text-center">Please check your email and click on the link to verfiy your email address.</p>
        </div>
        
        <div class="formGroup">
          <button mat-raised-button color="primary" id="resend" type="button" class="btn btnPrimary" (click)="authservice.SendVerificationMail()" mat-button>
            <i class="fas fa-redo-alt"></i>
            Resend Verification Email
          </button>
        </div>
      </div>
      <div class="redirectToLogin">
        <p>Do you want to log in? <a routerLinkActive="active" [routerLink]="['/login']" class="login">Log In</a></p>
      </div>
    </div>
  </div>