
        <main>

            <section id="gallery">
                <h1>Properties</h1>
                <article class="gallery-container">
                  <mat-spinner *ngIf="isLoading"></mat-spinner>
                    <article class="card-info" *ngFor="let el of this.properties" [ngSwitch]="animation" [@enter2]>
                        <article class="card-info-image">
                          <img src="{{el.data().imageUrl}}" alt="art-image" />
                        </article>
                        <article class="card-info-text">
                          <h2>{{el.data().name}}</h2>
                          <button type="submit" routerLink="/properties/details/{{el.id}}" class="mat-button mat-raised-button mat-primary" color="primary">Details</button>
                        </article>
                      </article>
                  
                    <!--If there are still no art publications in the database display:-->
                
                    <article class="no-available-publications" *ngIf="hasLength">
                        <h1>No properties listed yet.</h1>
                        <a  routerLink="/list-property" class="create-pub">List property</a>
                    </article>
                
                </article>
            </section>

        </main>
        
