
.text-center{
    text-align: center;
    margin-top: 70px;
}
.example-container{
    height: 60%;
    width: 30%;
    text-align: left;
}
.d-flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}
.mat-form-field{
    width: 100%;
}
.mt-top{
    margin-top: 50px;
}
.mt-top-2{
    margin-top: 10px;
}
.acc{
    margin-top: 40px;
    color: rgb(53, 47, 49)
}